---
layout: post
title: Signature Verification
date: 2021-12-15 11:58:47 +07:00
modified: 2021-12-15 16:49:47 +07:00
tags: [signet, siamese-network, cnn, sigcomp, utsig, cedar]
---
<p style="text-align: justify;">
Signatures validate the authenticity of an individual. Hence, it becomes extremely important to distinguish a forged signature from a valid signature. Even the signature signed by the same original individual can vary sometimes and hence, it becomes a challenging task to identify the genuine signature. We believe that due to the advancements in image processing, features from the original signatures can be extracted that shows similarities between different original signatures. We have employed different data pre-processing techniques and build and compared Signature Network and our Custom CNN model which can bifurcate original and forged signatures with high accuracy. We have used the CEDAR dataset for our experiments. We have also evaluated the performance of certain models like the Signature Network with different hyper-parameters and have compared the performance, pros, and cons of the Signature Net with our custom CNN Model.
</p>
More on this project can be found <a href="https://github.com/Aman-Chopra/Signature-Verification" target="_blank">here</a>